    <% layout("/layouts/boilerplate") %>
    <body>
        <div class="row">
            <div class="col-md-8 offset-2 mt-3 mb-3">
                <h3><i><b>Listed By: <%= listing.owner.username %></b></i></h3>
                <div class="card listing-card" style="width: 18rem;">
                    <img src="<%= typeof listing.image === 'string' ? listing.image : listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="listing_image">
                </div>
                <h5><p><b><%= listing.title %></b></h5><br>
                    <%= listing.description %><br>
                    &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %><br>
                    <%= listing.country %><br>
                </p>
                </div>
                <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
                <div class="btns mb-3">
                    <a href="/listings/<%= listing._id %>/edit" class="edit-link btn btn-primary offset-2">Edit this Listing</a>
                    <br><br>
                    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-danger offset-2">Delete this listing</button>
                    </form>
                </div>
                <% } %>
            <hr>
            <div class="col-md-8 offset-2 mt-3 mb-3">
                <h4><b>Reviews:</b></h4>
                <form action="/listings/<%= listing.id %>/reviews" method="POST" class="mb-4 needs-validation" novalidate>
                    <div class="mb-3">
                        <label for ="rating" class="form-label">Rating:</label>
                        <input type="range" id="rating" name="review[rating]" min="1" max="5" required class="form-range">
                    </div>
                    <div class="mb-3">
                        <label for ="comment" class="form-label">Comment:</label>
                        <textarea id="comment" name="review[comment]" rows="4" required class="form-control"></textarea>
                        <div class="invalid-feedback">Please enter your comment for reviews.</div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Submit Review</button>
                </form>
                <hr>
                <h4>All Reviews:</h4>
                <% listing.reviews.forEach(review => { %>
                    <div class="row">
                    <div class="card mb-3 col-md-8 offset-2 ms-3">
                        <div class="card-body">
                            <h6 class="card-title"><b>Name:</b> <%= review.author %></h6>
                            <p class="card-text"><b>Rating:</b> <%= review.rating %> Stars<br><b>Comment:</b> <%= review.comment %>
                            <br><b>Posted on:</b> <%= review.createdAt.toLocaleString() %></p>
                        </div>
                        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="mb-3">
                            <button class="btn btn-danger">Delete Review</button>
                        </form>
                    </div>
                <% }) %>
                </div>
            </div>
        </div>
    </body>
